* {
    box-sizing: border-box;
}

.cardInscrito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    max-width: 400px;
    padding: 10px;
    background: #121017;
    border-radius: 24px;
    list-style-type: none;
    margin-bottom: 50px;
}

.cardInscrito img {
    max-width: 190px;
    width: 35vw;
    height: 150px;
    object-fit: cover;
    margin-left: -100px;
    margin-right: 20px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.cardInscrito h2 {
    font-size: 20px;
    margin-top: 0;

    margin-bottom: 5px;
    text-transform: capitalize;
}

.cardInscrito h3 {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    opacity: 0.75;
    letter-spacing: 3px;
}

.cardInscrito span {
    font-style: normal;
    font-size: 20px;
}

.cardInscrito p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.cardInscrito button {
    border: 1px solid #f8f8f8;
    background: transparent;
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
}

.bn3637 {
    display: inline-flex;
    padding: 0.1rem 0.3rem;
    margin-left: -1px;
    margin-top: 15px;
    font-family: "Gosha Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 0.8rem;
}

.bn37 {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

@media (width <=600px) {
    .cardInscrito {
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .cardInscrito h2 {
        margin-right: 0;
        font-size: 26px;
    }

    .cardInscrito img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
        height: 250px;
    }

    .cardInscrito p {
        max-width: 360px;
    }
}

@media (width <=440px) {
    .cardInscrito img {
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        margin: -140px 0 30px 0;
    }
}