* {
    box-sizing: border-box;
    color: white;
    font-family: Gosha Sans, sans-serif;
}


.cardInscrito {
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    width: 550px;
    /* max-width: 400px; */
    padding: 10px;
    background: #1f0630;
    border-radius: 24px;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 50px;
}

.cardInscrito img {
    /* max-width: 200px; */
    width: 200px;
    height: 150px;
    /* object-fit: cover; */
    margin-left: -1px;
    margin-right: 50px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.cardInscrito h2 {
    font-size: 20px;
    width: 23vw;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.cardInscrito h3 {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    opacity: 0.75;
    letter-spacing: 3px;
}

.cardInscrito span {
    font-style: normal;
    font-size: 20px;
}

.cardInscrito p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.cardInscrito button {
    border: 1px solid #f8f8f8;
    background: transparent;
    color: #f8f8f8;
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.cards img {
    margin-left: 15px;
    border-radius: 20px;
    height: 160px;
    margin-right: 25px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.upload-button {
    position: absolute;
    bottom: 10px;
    right: 35px;
    background-color: #007bff;
    color: #fff;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.upload-button:hover {
    background-color: #0056b3;
}


.bn3637 {
    display: inline-flex;
    padding: 0.1rem 0.3rem;
    margin-left: -1px;
    margin-top: 15px;
    font-family: "Gosha Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 0.8rem;
}

.bn37 {
    border-color: transparent;
    background-color: #25D366;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    color: #1f0630;
}

.botão1 {
    color: red;
}

.t-modal .modal-header {
    color: red;
}

.btn-modal {
    text-decoration: none;
    color: black;
}

.btn-modal:hover {
    color: #1f0630;
}

@media (width <=600px) {
    .cardInscrito {
        margin: 10px;
        width: 90%;
        text-align: center;
        flex-direction: column;
    }

    .cardInscrito h2 {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    .cardInscrito img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
        height: 250px;
    }

    .cardInscrito p {
        max-width: 360px;
    }
}

@media (width <=440px) {
    .cardInscrito img {
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        margin: -140px 0 30px 0;
    }
}